<div class="about-container">
    <div class="main-image-container">
        <img src="assets/image.jpg" alt="Main Image" class="main-image" />
    </div>

    <div class="about-text">
        <h1>Intropection</h1>

        <p>
            Door al deze activiteiten te volgen heb ik als eerste een breder beeld gekregen van de IT-sector. Ik ben in
            aanraking gekomen met verschillende disciplines en heb mijn eigen keuze voor applicatieontwikkeling kunnen
            ondersteunen. Omdat ik al eerder ben gewisseld van opleiding is het zeker zijn van deze keuze een belangrijk
            punt voor mezelf. Op het einde heb ik deze zekerheid kunnen krijgen. Ik weet nu zeker dat het opleveren van
            een functioneel resultaat heel erg belangrijk is voor mij en mij zeer veel voldoening geeft. Hier haal ik
            plezier uit, en met applicatieontwikkeling kan ik dit in mijn professionele loopbaan ondervinden. </p>
        <p>
            Mijn sterktes zijn mijn nieuwsgierigheid en analytisch denkvermogen, deze heb ik goed kunnen toepassen in
            dit traject en verder kunnen ontwikkelen. Vooral mijn nieuwsgierigheid zal een groot voordeel zijn voor de
            constante bijleer mogelijkheden en vereisten die gekoppeld zijn aan applicatieontwikkeling. Wel weet ik door
            ervaring met de stage en de andere activiteiten dat ik nog steeds graag zou willen werken met verschillende
            projecten en niet te lang bezig wil zijn met het beheren en uitbreiden van één bestaande applicatie. Dit is
            vooral omdat ik graag nieuwe ervaringen wil hebben en mijn kennis wil verbreiden. </p>
        <p>
            Ook heb ik de kans gekregen om in verschillende nieuwe en onbekende situaties te komen en hierdoor mijn
            zelfvertrouwen en sociale vaardigheden aan te scherpen. Deze kunnen nog altijd verbeterd worden, onzekerheid
            en een gebrek aan overzicht en verwachtingen kan leiden tot veel stress en zenuwachtigheid. Dit wist ik ook
            al van mezelf, maar door ervaring op te doen met dit soort situaties heb ik nu meer vertrouwen in mijn
            vaardigheden om dit in de toekomst met minder stress weer te doorheen te komen. Vooral de stage heeft mijn
            zelfvertrouwen heel erg geholpen, door in een compleet nieuwe omgeving te bewijzen dat ik dit gewoon kan, en
            ik mij niet zoveel zorgen hoef te maken.
        </p>
        <p>
            Ook heb ik de kans gekregen om in verschillende nieuwe en onbekende situaties te komen en hierdoor mijn
            zelfvertrouwen en sociale vaardigheden aan te scherpen. Deze kunnen nog altijd verbeterd worden, onzekerheid
            en een gebrek aan overzicht en verwachtingen kan leiden tot veel stress en zenuwachtigheid. Dit wist ik ook
            al van mezelf, maar door ervaring op te doen met dit soort situaties heb ik nu meer vertrouwen in mijn
            vaardigheden om dit in de toekomst met minder stress weer te doorheen te komen. Vooral de stage heeft mijn
            zelfvertrouwen heel erg geholpen, door in een compleet nieuwe omgeving te bewijzen dat ik dit gewoon kan, en
            ik mij niet zoveel zorgen hoef te maken.
        </p>
        <p>
            Om zo door te gaan zal ik in de toekomt meer vragen gaan stellen, nog minder wachten op uitleg maar meer
            proactief zijn in het uitzoeken en verduidelijken van onzekerheden, zodat ik zelf minder stress heb en
            productiever te werk kan gaan. Ook zal ik proberen te zoeken naar een baan waar ik kan mee werken aan
            verschillende projecten en hiermee mijn nieuwsgierigheid volledig kan benutten. Ook wil ik meer in mijn
            vrije tijd bezig zijn met programmeren en ga ik nadenken hoe ik iets kan ontwikkelen dat mij kan helpen bij
            een bepaalde game, of in mijn persoonlijke leven.
        </p>
        <p>
            Hierdoor kan ik de onderdelen van de X-factor beter ontwikkelen. Ik wil mijn passie voor het ontwikkelen van
            applicaties meer toepassen en uitbreiden naar andere disciplines door met verschillende projecten te werken.
            Ik spreek ook graag Engels tijdens het gamen en internationale samenwerking met andere projecten lijkt mij
            een zeer interessante werk mogelijkheid.
        </p>
        <p>
            Ik ben nu veel meer enthousiast en kijk uit naar mijn toekmost in de IT, er zijn veel mogelijkheden en veel
            kansen om nieuwe dingen te leren en functionele resultaten op te leveren, allemaal aspecten die zeer
            belangrijk zijn voor mij.
        </p>
    </div>

</div>