<div class="about-container">
    <div class="main-image-container">
        <img src="assets/image.jpg" alt="Main Image" class="main-image" />
    </div>

    <div class="about-text">
        <h1>Intropection</h1>
    
        <p>
            Ik ben Thimo Gubbels, 24 jaar en ik kom uit Zuid-Limburg Brunssum. In mijn vrije tijd kijk ik graag
            historische commentary videos op YouTube over bijvoorbeeld het Romeinse rijk of de middeleeuwen of
            wereldoorlogen. Ook kijk ik graag Twitch streams van streamers die politieke content van Amerika bespreken,
            reageren op video’s of bepaalde videogames spelen. Zo speel ik in mijn vrije tijd ook zelf videogames,
            single player RPGs of multiplayer shooters. Hiernaast lees ik ook vaak online fantasieverhalen.
        </p>
        <p>
            Ik kan goed analytisch nadenken en diep in theorie van een onderwerp duiken, dat is ook iets wat ik graag
            doe. Problemen oplossen en met deze kennis hierna anderen helpen is ook een sterkte punt.
            Ook ben ik zeer nieuwsgierig als ik een onderwerp interessant vind dan zoek ik hier graag meer informatie
            over op.
            Dit is ook de reden waarom ik voordat ik deze opleiding deed volgen, een opleiding Natuurkunde heb gedaan.
            De keuze voor die opleiding was omdat ik goede punten had voor Natuurkunde op de middelbare school, maar ik
            vond het ook heel interessant om erachter te komen hoe alles in de wereld werkt.
            Maar toch vind ik het veel interessanter en waardevoller om iets toe te passen, terwijl mijn Natuurkunde
            opleiding zeer theoretisch was.
            Daarom ben ik overgestapt naar ICT en applicatieontwikkeling omdat ik daar iets kan maken en opleveren en
            het met zowat alle beroepsvakken in de wereld in aanraking komt.
        </p>
        <p>
            In de toekomst zie ik mezelf aan verschillende projecten werken om hiervoor applicaties te ontwikkelen en
            eventueel een expert te zijn op een bepaald gebied binnen het bedrijf waar ik werk, zodat ik andere
            developers kan helpen op dat gebied.
        </p>
        <p>
            Naast mijn sterktepunten zijn er ook verbeterpunten zoals: het moeilijk vinden om mijn eigen sterktepunten
            te definiëren. Ook kan het in sociale omstandigheden even duren om mezelf meer open te stellen naar andere
            mensen en kan ik als gesloten overkomen. Ook kan ik minder werk op mezelf leggen en eerder hulp vragen aan
            anderen en deze ook vertrouwen om competent te werk te gaan. Hiernaast ben ik vaak snel zenuwachtig voor
            presentaties en hier kan ik meer oefening voor gebruiken.
        </p>
    </div>
</div>