<mat-toolbar c color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>ITalent Portfolio</h1>
</mat-toolbar>
<mat-sidenav-container autosize="true">
  <mat-sidenav  [mode]="'side'" [opened]="true">
    <mat-nav-list>
      <a mat-list-item>
        <span class="entry">
          <mat-icon>house</mat-icon>
          @if(!isCollapsed){
            <span >Dashboard</span>
            }
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h2>Content</h2>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>