<div class="activity-selection">
    <h2>Select an Activity</h2>

    <!-- Display activity options -->
    <div class="activities-list">
        <div *ngFor="let activity of activities; let i = index" (click)="selectActivity(activity)" class="activity-item"
            [class.selected]="activity === selectedActivity">
            <h3>{{ activity.title }}</h3>
        </div>
    </div>

    <!-- Show the details of the selected activity and its layout -->
    @if(selectedActivity){
    <div class="activity-details">

        <!-- Conditionally show layout based on selected activity -->
        <div *ngIf="selectedActivity.id === 1" class="content">
            <h4>Doelstelling</h4>
            <p>
                De doelstelling van deze activiteit was om meer te weten komen over security en cloud security. Voor
                mezelf was als doel, om erachter te komen of de security kant van development ook een grote interesse is
                voor mij en of het iets is waar ik later toch dieper in wil duiken.</p>

            <h4>Verslag</h4>
            <p>De innovatieroute bestond uit 3 seminaries, elk over een bepaald onderwerp binnen Cloud en Security. Het
                eerste seminarie werd gedaan door een cyberincident management expert, hier werden er eerst een paar
                voorbeelden van security gebeurtenissen uit het verleden besproken waar de spreker ervaring heeft
                opgedaan. Hiermee kregen we een goede blik achter de schermen van bekende incidenten. Aan de hand van
                deze incidenten werd ook wat theorie uitgelegd. Hierbij ging het over theorie omtrent
                bedrijfsregelementen die kunnen worden gebruikt om dit soort gebeurtenissen te behandelen. Hierbij is
                het belangrijk om bij externe communicatie het C4 principe te gebruiken:
                Coherent-Consistent-Concise-Converted. Deze theorie konden wij later gaan toepassen in het tweede deel
                van deze seminarie.</p>
            <p>Als tweede deel kregen wij per tweetal de opdracht om als crisis response team een reactie op te zetten
                van een fictionele situatie. Hier is het belangrijk om de aanvaller te identificeren, en vorige
                aanvallen en methoden te bekijken, om hiermee een makkelijk begrijpbare presentatie te kunnen maken voor
                het management van het bedrijf. Bij communicatie binnen het bedrijf is het belangrijk om hier geen
                leugens te vertellen maar ook niet te veel informatie vrij te geven, omdat deze communicatie ook naar
                buiten kan komen. Tijdens het maken van de presentatie heb ik eerst zelf de informatie van de
                hackergroep opgezocht en een bericht opgesteld. Hierna hebben we ChatGPT gebruikt om eventuele
                verbeteringen te vragen voor de tekst van de presentatie. Deze presentatie was meteen een goede kans om
                presentatie skills te oefenen. De expert koos op het einde de groep met de beste opdrachten en gaf hier
                korte uitleg waarom deze het beste waren. </p>
            <p>Het tweede seminarie ging over de verschillende verdedigingen tegen cyber aanvallen en hoe je een analyse
                kan doen van een systeem omtrent security. Er werd benadrukt dat het belangrijk is om het nieuws omtrent
                cybersecurirty goed bij te houden. Om een goede analyse te doen kan je gebruik maken van AWS
                well-architected framework om een cloudsysteem veilig op te stellen en te evalueren. Ook werden er
                bepaalde andere security standaarden uitgelegd die worden verplicht door verschillende regio’s, zoals
                CIS en NIST. Hierna werd er ook een demo gegeven hoe je Prowler kan gebruiken om de security van een
                systeem na te gaan. Helaas werkte mijn trial account niet en kon ik niet goed deelnemen aan dit deel van
                het seminarie.</p>
            <p>Het laatste seminarie ging over cloudsecurity met Fortinet. Hier kregen we algemene informatie over de
                werking van Fortinet en het gehele applicatiepakket. Hier is een detail wat mij wel deed verbazen de
                mogelijkheid om SSL open te breken en te kijken wat er precies in het netwerkverkeer verstuurd wordt. En
                hoe de firewall, een man-in-the-middle-attack doet om het verkeer te bekijken en alles te filteren.
                Fortinet biedt hiernaast verschillende securityfeatures aan: AntiVirus, Web-filtering, DNS filtering,
                file filtering en video filter, SSL decryptie en Application control waar je bepaalde applicaties kan
                verbieden. Daarna kregen we meerdere guides die we konden doorlopen om onze kennis te testen en de
                concepten in actie te zien. Hier hebben we een Fortiguard netwerk opgezet met bepaalde filters en
                firewall policies.</p>

            <h4>Reflectie</h4>
            <p>Deze innovatieroute vond ik zelf heel informatief om toch een blik te krijgen in de wereld van
                cybersecurity. Hoe er zoveel verschillende specialisatie mogelijkheden zijn binnen dit werkveld,
                verbaasde me wel. Ook vond ik het heel interessant om een achter de schermen blik te krijgen van
                bepaalde incidenten en hoe dit aangepakt kan worden. Dit is een onderwerp dat mij wel interessant lijkt.
                Daarentegen ligt mijn interesse toch niet echt bij het zelf opzetten van de security zelf in
                bijvoorbeeld een cloud-omgeving, dit vond ik minder interessant. Door deze innovatieroute te volgen heb
                ik kunnen uitvinden dat security opzetten in een cloud-omgeving mij geen interessant werkveld lijkt en
                ik meer geïnteresseerd ben in de toepassingen die direct tijdens het programmeren kan worden gebruikt.
                Alhoewel incident response interessant is, is het niet iets wat ik later als baan zou willen doen. Deze
                innovatieroute geeft een goede reflectie van de voor- en nadelen van mijn nieuwsgierigheid. Doordat ik
                graag nieuwe dingen leer over verschillende onderwerpen, sta ik open voor nieuwe leerkansen, maar deze
                nieuwsgierigheid moet niet meteen worden gezien als een indicatie van wat ik als professional wil gaan
                doen. Op het einde van de tweede opdracht, moest er een presentatie worden gegeven. Presentaties zijn
                niet mijn favoriete activiteit, hier word ik al snel zeer zenuwachtig van. Maar door meer presentaties
                te geven, raak je eraan gewend en dus was dit weer een goede kans om iets ongemakkelijks te doen.
                Hiernaast is presentaties geven een belangrijke vaardigheid en dus elke kans om dit te oefenen, probeer
                ik te zien als een leerkans.</p>
            <p>Ik heb deze activiteit toegevoegd aan mijn portfolio om uit te werken, omdat het een belangrijk evenement
                is in de ontdekking van wat mij interesseert en wat ook echt iets is wat ik later in mijn baan zou
                willen doen. Hiermee is mijn keuze voor applicatieontwikkeling verder ondersteunt, omdat security toch
                niet is wat ik als baan zou willen doen. De innovatie route zelf vond ik toch zeer informatief, vooral
                de eerste en derde seminaries, de tweede seminarie was wat minder goed voorbereid en had ook wat
                technische moeilijkheden, waardoor mij niet veel kennis is bijgebleven. Toch was de route in het
                algemeen een goede ervaring en blik in de securitywereld.</p>

        </div>
        <div *ngIf="selectedActivity.id === 2" class="content-container">
            <div class="image-container">
                <img src="assets/image2.png" alt="Main Image" class="main-image" />
                <img src="assets/vorm1.png" alt="Main Image" class="main-image" />
                <img src="assets/vorm2.png" alt="Main Image" class="main-image" />
            </div>
            <div class=" content">
                <h4>Doelstelling</h4>
                <p>
                    Het doel van de hackaton was om voor mentaal beperkte mensen een tablet-applicatie te maken, waarmee
                    ze zich bezig kunnen houden en ook iets kunnen leren. Als persoonlijk doel was het om tijdens deze
                    hackaton zoveel mogelijk gebruik te maken van AI om de code te schrijven en te ondervinden hoe dat
                    gaat. Het team was van tevoren al doorgegeven, een groep van 4 studenten waarmee ik ook het project
                    van vorig semester heb gedaan.</p>
                <div class="verslag">
                    <h4>Verslag</h4>
                    <p>De hackaton begon met een presentatie van twee verschillende projecten, het eerste project was
                        een website of Proof of Concept ontwikkelen voor het faciliteren van communicatie tussen de
                        verschillende partijen bij een langdurig afwezige werknemer. Het tweede project was het
                        ontwikkelen van een applicatie, voor mentaal beperkte volwassen mensen. Deze personen hebben een
                        IQ tussen de 12 en 56 en kunnen moeite hebben met lezen. Deze app moest leerzaam zijn en bestaan
                        uit spellen die niet kinderachtig waren maar wel eenvoudig genoeg zijn. Na de uitleg is er eerst
                        in de groep beslist welke programmeertaal we gingen gebruiken. Hiervoor hebben we ChatGPT
                        gevraagd een aantal talen voor te stellen. Maar ik was al snel voorstander van flutter te
                        gebruiken. Omdat ik daar ook al meer ervaring mee had voor een ander vak en daar ook al een
                        seminarie over had gevolgd. Flutter is ook gekozen als programmeertaal. Hierna zijn we gaan
                        beslissen welke spellen we wilden maken voor de app. Er waren al een aantal voorbeelden genoemd
                        in de presentatie. Wij hebben hieruit gekozen voor een dobbelstenen spel, waarbij de gebruiker
                        de dobbelstenen moet optellen. En een vormen tellen spel, waarbij de gebruiker moet tellen
                        hoeveel cirkels er bijvoorbeeld op het scherm zijn.</p>
                    <p>Hierna hebben we besloten om de groep op te splitsen in twee teams, elk deed een van de spellen
                        ontwikkelen. Ik heb hierbij gekozen om het dobbelstenen spel te ontwikkelen. Door in Visual
                        Studio Code Co-Pilot te gebruiken was het al snel makkelijk om een standaard spel op te zetten
                        waarbij er twee dobbelstenen op het scherm komen te zien en een aantal opties van antwoorden om
                        te kiezen. Hierna zijn we gaan kijken naar de andere vereisten. Ook was het gevraagd om het
                        mogelijk te maken om tekst te laten voorlezen. Hiervoor hebben we aan Co-Pilot gevraagd om de
                        juiste package te vinden om dit in flutter toe te voegen. Ook moest er een beloning zijn voor
                        het juist kiezen van een antwoord om het interessant en leuk te maken voor de gebruikers.
                        Hiervoor kwam ik met het idee om confetti en een geluidje toe te voegen als het juiste antwoord
                        gekozen werd. Ook hebben we er ook voor gezorgd dat er bij de selectie van het spel een thema
                        kan worden gekozen dat de kleuren van het spel deden aanpassen. Om het spel leerzaam te maken
                        hebben we ook een moeilijkheidsgraad optie toegevoegd waarbij het aantal dobbelstenen en de
                        nummers (1-6) bepaald worden die op de dobbelsteen komen. Hiermee kan er gekozen worden om het
                        spel moeilijker te maken. Hierna zijn we samen met het andere spel de hoofdpagina voor het
                        kiezen van het spel gemaakt.</p>
                    <p>Op het einde hebben we een presentatie voorbereid om een demo te laten zien van het spel aan de
                        opdrachtgever en hierop feedback gekregen. Er werd wel al snel opgemerkt dat het geluidje dat
                        het spel afspeelt als je het goede antwoord geeft, irritant kan gaan zijn voor de begeleiders
                        van de gebruikers. Maar hier hebben we ook een feature voor gemaakt, namelijk de mogelijkheid om
                        alleen dat geluid uit te zetten.</p>

                </div>
                <h4>Reflectie</h4>
                <p>Deze hackaton vond ik zelf wel heel erg waardevol om aan mee te doen. Ik heb onder andere geleerd dat
                    voor het maken van een proof of concept, het heel handig kan zijn om AI te gebruiken. Maar het
                    gebruik van AI op deze manier zorgt wel voor veel code die je misschien niet helemaal begrijpt en
                    maakt het uitbreiden van een applicatie zeer moeilijk. Doordat deze applicatie zo specifiek gericht
                    was op een bepaalde doelgroep, heb ik ook geleerd hoe belangrijk het is om constant feedback van een
                    producteigenaar of opdrachtgever te krijgen. Zo hadden we zelf nog niet gedacht dat bepaalde woorden
                    al wat te moeilijk zouden zijn, maar door feedback te krijgen hebben we dit al snel kunnen
                    aanpassen. Hierdoor heb ik weer kunnen inzien dat het samenwerken met een producteigenaar het beste
                    is om goed de verwachtingen af te stemmen. Deze hackaton was een goede ervaring voor mij, omdat ik
                    iemand anders heb kunnen helpen met hun werk en dit doe ik graag. Er was ook weer de kans om
                    presentatie geven te oefenen en hierdoor steeds meer op mijn gemak te zijn voor dit soort
                    activiteiten.</p>
                <p>Het opleveren van een werkende app aan de opdrachtgever, gaf mij ook een goed gevoel van voldoening.
                    Hiermee heb ik kunnen bedenken dat applicatieontwikkeling toch echt de goede richting is voor mij.
                    Omdat ik graag iets doe opleveren en het resultaat van mijn werk in toepassing zie. Dit is ook de
                    reden dat deze activiteit is uitgekozen om op te nemen in het portfolio. Omdat het net als de andere
                    activiteiten mijn keuze voor applicatieontwikkeling en in het algemeen ICT ondersteunt. Nadat ik de
                    keuze heb gemaakt over te stappen naar ICT vanuit mijn opleiding Toegepaste Natuurkunde.</p>

            </div>
            <div class="image-container">
                <img src="assets/steen1.png" alt="Main Image" class="main-image" />
                <img src="assets/steen2.png" alt="Main Image" class="main-image" />
            </div>
        </div>

        <div *ngIf="selectedActivity.id === 3" class=" content">
            <h4>Doelstelling</h4>
            <p>
                De doelstelling van mijn stage is om een notificatiecentrum te bouwen voor de desktop- en mobiele
                applicatie van het bedrijf. Het doel voor mezelf was om te leren hoe ontwikkeling binnen een bedrijf
                precies werkt en zoveel mogelijk kennis en ervaring opdoen met de technologieën die er gebruikt worden.
            </p>

            <h4>Verslag</h4>
            <p>De stage bestaat uit twee delen, een onderzoeksopdracht die gekoppeld is aan het stagebedrijf en de
                opdracht en de stageopdracht zelf. Op het begin van de stage ben ik mij eerst gaan voorstellen aan
                iedereen binnen het bedrijf. Hierna heb ik eerste zelf alle benodigdheden voor de ontwikkeling op de
                laptop van het bedrijf opgezet. Hierna is de onderzoeksopdracht vastgesteld en besloten om de eerste
                twee weken te werken aan deze opdracht en hierna pas te beginnen aan de stageopdracht.</p>
            <p>Tijdens de stage heb ik elke morgen meegedaan aan de daily-standup en de wekelijkse sprint-refinement.
                Hierdoor heb ik ook de scrum activiteiten die ik heb geleerd tijdens de opleiding in actie kunnen zien.
                Tijdens de sprint-refinement heb ik ook meegedaan aan het inschatten van de user stories. Hiermee kreeg
                ik ook een beter inzicht in de werking van een developmentteam.</p>
            <p>Voor de onderzoeksopdracht heb ik eerst een onderzoeksvraag opgesteld: Hoe kunnen notificaties worgen
                geïmplementeerd in de netpresenter desktop- en mobiele applicatie om de betrokkenheid van gebruikers te
                verhogen. Deze heb ik in verschillende deelvragen verdeeld. Hierna heb ik deze deelvragen beantwoord met
                een literatuurstudie. De kennis die hierin is opgedaan heb ik gebruikt om prototypes op te zetten en
                deze te vergelijken en hiermee een conclusie en antwoord op de onderzoeksvraag gegeven. Door dit proces
                te volgen heb ik mijn analytisch denken kunnen gebruiken om dit onderzoek te voltooien. De resultaten
                heb ik besproken met de stagebegeleider en hierna ben ik gaan werken aan de stageopdracht.</p>
            <p>Hiervoor ben ik als eerste de user stories gaan opzetten die de stageopdracht beschrijven. Deze zijn
                daarna in de sprint refinement vastgezet en hierna kon ik gaan werken aan de user stories. Tijdens het
                uitwerken van de user stories heb ik vaak met de stagebegeleider de aanpak en implementatie van
                verschillende features besproken. Hiernaast heb ik het designteam moeten vragen om het ontwerp van het
                notificatiecentrum te leveren, omdat dit is hoe er in het bedrijf wordt gewerkt. Aan de hand van dit
                design wordt de gehele frontend van elke user story gemaakt. Tussendoor is er ook nog communicatie
                geweest tussen mij en het designteam, om de kleinere details van de UI uit te werken en eventuele
                aanpassingen te maken aan de hand van technische limieten.</p>
            <p>Voor mijn stageopdracht werk ik op een aparte branch op GitHub. Voor elke user story en/of sub taak op
                Jira wordt een aparte branch gemaakt en als de user story/taak af is wordt er een pull-request gemaakt.
                Deze wordt door de stagebegeleider nagekeken en commentaar gegeven op mijn code. Dit commentaar wordt
                weer door mij verwerkt en opnieuw gevraagd voor een review. Dit gaat zo door totdat mijn branch weer met
                de originele branch voor mijn stageopdracht kan worden samengevoegd. </p>
            <p>Tijdens het uitvoeren van de opdracht moest ik werken met een uitgebreide bestaande codebase. Als er
                vragen waren over de werking van delen van de applicatie kon ik die stellen aan de stagebegeleider. Vaak
                probeerde ik zelf ook al uit te zoeken hoe er precies gewerkt wordt om zo ook de bestaande structuur te
                gebruiken. De applicatie werkt ook met Domain Driven Design dat ook in de lessen op school al is
                uitgelegd, deze kennis heb ik dus kunnen gebruiken in de stage.</p>
            <h4>Reflectie</h4>
            <p>Ik zit nog in het midden van de stage, maar ik heb al veel kunnen leren. Tijdens de beginfase heb ik de
                eerste paar dagen vooral zelfstandig moeten werken, omdat de stagebegeleider nog afwezig was. Hierdoor
                heb ik snel opgemerkt dat onzekerheid en gebrek aan planning mij erg zenuwachtig en angstig maken,
                vooral als het gaat om een zeer belangrijk onderdeel van mijn studie. Door al zelf kleine taken op te
                stellen en deze in te plannen elke dag, kon ik mezelf wat kalmeren en overzicht geven. Hierdoor heb ik
                kunnen vaststellen dat ik graag structuur, planning en overzicht wil hebben als het ik mij in een
                onbekende situatie/omgeving bevindt. </p>
            <p>Door constant feedback te krijgen van de stagebegeleider over mijn opgeleverde code, heb ik ook geleerd
                om meer open te zijn voor feedback en in te zien dat er altijd verbetering mogelijk is. Mijn methode van
                programmeren is niet het allerbeste en ik kan best input van anderen vragen en hulp gebruiken om een
                beter eindresultaat op te leveren. Ik kan hierdoor nu beter taken overlaten aan anderen.</p>
            <p>Door betrokken te zijn in een echt development team, heb ik nu een beter beeld hoe en werkomgeving eruit
                kan gaan zien. Hiermee heb ik meer vertrouwen en duidelijkheid voor mezelf als ik na deze opleiding op
                zoek ga naar een baan. Ook heb ik kunnen inzien dat wat er geleerd is op school eigenlijk alleen als
                basis fundeert voor mijn verdere ontwikkeling. Er zal altijd bij een baan nog veel moeten worden
                bijgeleerd vooraleer ik echt aan de slag kan. Dit is omdat er veel aspecten van applicatieontwikkeling
                kunnen verschillen en dit toch allemaal op de werkplaats bijgeleerd moeten worden. En hier sta ik ook
                erg voor open, ik leer graag nieuwe manieren om dingen uit te voeren, en verbeter mezelf graag.</p>
            <p>Deze activiteit heb ik toegevoegd, omdat het de laatste stap is in mijn volledige zekerheid in mijn keuze
                voor applicatieontwikkeling. Ik ben er nu zeker van dat ik de juiste keuze heb gemaakt in het kiezen
                voor deze richting.</p>

        </div>
    </div>
    }
</div>